@import "../../variables";

.homepagehero {
  background-size: cover;
  background-position: center center;
  @include rem('height', 400px);
  
  @include media-up(md) {
    @include rem('height', 500px);
  }
  
  @include media-up(lg){
    @include rem('height', 735px);
  }
}

.homepagehero__title {
  text-transform: uppercase;
  line-height: 1;
  color: white;
}

.homepagehero__subtitle {
  @include rem('padding-top', 15px);
  @include rem('max-width', 470px);
  color: white;
}

.homepagehero__button {
  @include rem('margin-top', 16px);

  .button {
    @include rem('padding', 7px 44px);
    text-transform: none;
  }
}

.hompagehero__content {
  @include rem('padding-left', 10px);
  padding-top: 30px;
  width: 80%;

  @include media-up(sm) {
    @include rem('padding-left', 30px);
    @include rem('padding-top', 80px);
    @include rem('width', 400px);
  }

  @include media-up(md){
    @include rem('padding-left', 90px);
    @include rem('padding-top', 150px);
    @include rem('width', 500px);
  }

  @include media-up(lg){
    @include rem('padding-left', 154px);
    @include rem('padding-top', 239px);
    @include rem('width', 700px);
  }
}
