<div class='dropdownsearch' style='background:lightgray;'>
  <button type='button' class='dropdownsearch__toggle'>
    <i aria-hidden class='fal fa-search' title='show search'></i>
  </button>
  <div class='dropdownsearch__dropdown__wrapper'>
    <form class='dropdownsearch__form'>
      <input type='search' class='dropdownsearch__input' name='s' placeholder='Search' />
      <button type='submit' class='dropdownsearch__button'>
        <i aria-hidden class='fal fa-search' title='show search'></i>
      </button>
    </form>
  </div>
</div>