{% set mods = '' %}
{% for mod in search_modifiers %}
  {% set mods = mods ~ " expandingsearch--" ~ mod %}
{% endfor %}
<form class='expandingsearch {{ mods }}'>
  <input type='search' class='expandingsearch__input' name='s' placeholder='Search' />
  <button type='submit' class='expandingsearch__button'>
    <i aria-hidden class='fal fa-search' title='show search'></i>
  </button>
</form>