
<div class='dropdownsearch__ancestor' style='background:gray'>

  <ul class='navmenu'>

  <li>

  <div class='dropdownsearch' style='background:lightgray;'>
    <div class='dropdownsearch__toggle'>
    asdf
    </div>


    <div class='dropdownsearch__dropdown__wrapper'>

      <form class='dropdownsearch__form'>
        <input type='search' class='dropdownsearch__input' name='s' placeholder='Search' />
        <button type='submit' class='dropdownsearch__button'>
          <i aria-hidden class='fal fa-search' title='show search'></i>
        </button>
      </form>

    </div>
  </div>

  </li>

</div>