@import "../../../variables";


.landinghero {
  @include rem('padding', 106px 0 102px 0);
  background-color: $pale-grey-two;
  text-align: center;
}

.landinghero__title {
  @include rem('font-size', 32px);
  @include rem('max-width', 745px);
  @include rem('padding-bottom', 25px);
  @include rem('letter-spacing', 0.7px);
  margin: 0 auto 0 auto;
  line-height: 1.25;

  color: $slate;
  text-transform: uppercase;
}

.landinghero__content {
  @include rem('max-width', 633px);
  margin-left: auto;
  margin-right: auto;
}