<form class="pattern-library-demo-form" id="example-form">
{% include 'form-elements/text.twig' %}
{% include 'form-elements/select.twig' %}
{% include 'form-elements/checkboxes.twig' %}
{% include 'form-elements/radio-buttons.twig' %}
{% include 'form-elements/other-elements.twig' %}
{% include 'form-elements/buttons.twig' %}
</form>
