<ol>
  {% for _ in range(0,10) %}
    <li
  {% endfor %}
  <li>
    <ol>
      {% for _ in range(0,3) %}
        <li
      {% endfor %}
    </ol>
  </li>
  <li>
    <ul>
      {% for _ in range(0,3) %}
        <li>
      {% endfor %}
    </ul>
  </li>
</ol>