<div class='dropdownsearch'>
  <button type='button' class='dropdownsearch__toggle'>
    <i class='icon icon-search' aria-label='{{ "Show Search"|trans }}'></i>
  </button>
  <div class='dropdownsearch__dropdown__wrapper'>
    <form class='dropdownsearch__form'>
      <input type='search' class='dropdownsearch__input' name='s' placeholder='{{ "Search"|trans }}' />
      <button type='submit' class='dropdownsearch__button'>
        <i class='icon icon-search' aria-label='{{ "Search"|trans }}'></i>
      </button>
    </form>
  </div>
</div>