<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <section class="listing__intro">
        <h2 class="listing__intro__title">{{ listing__title }}</h2>
        <div class="listing__intro__description">{{ listing__description }}</div>
      </section>
    </div>
  </div>
</div>

{% include "@atoms/05-media/03-image-srcset.twig" with {
  img_src: featured.src,
  img_srcset: featured.srcset,
  img_alt: featured.alt,
  img_sizes: "(min-width: 800px) 50vw, 100vw"
} %}

{% include "@atoms/05-media/03-image-srcset.twig" with {
  img_src: image_field.src,
  img_srcset: image_field.srcset,
  img_alt: image_field.alt,
  img_sizes: "(min-width: 800px) 50vw, 100vw",
  img_lazy_load: true
} %}

<div class="listingitems__wrapper">

  <section class="listingitems container-fluid">
    <div class="listingitem__wrapper">

    </div>
    <div class="row listing__pagination">
      <div class="col-12">
        {% include "@molecules/18-pagination/00-pagination.twig" with {
          pagination: pagination
        } only %}
      </div>
    </div>
  </section>
</div>

