@import "../../../variables";
@import "../00-social-link/00-social-link";

.socialsharing {
  display: flex;

  position: relative;
}

.socialsharing__button {
  @extend .sociallink;
  cursor: pointer;
}

.socialsharing--sticky-left {
  display: flex;
  @include rem('left', 15px);
  position: relative;
  @include rem('top', 15px);

  @media (min-width: $breakpoint-lg) {
    display: block;
    @include rem('left', 12px);
    position: absolute;
    @include rem('top', 36px);
  }
  

  .socialsharing__button {
    display: block;
    @include rem('margin-right', 8px);
    
    @media (min-width: $breakpoint-lg) {
      @include rem('margin-bottom', 16px);
    }
  }
}