<h1>Responsive Videos thanks to CSS and JS</h1>

<br>
<br>
<h2>HTML Video tag</h2>
<video width="640" height="360" controls="">
	<source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4">
	<source src="http://clips.vorwaerts-gmbh.de/VfE.webm" type="video/webm">
	<source src="http://clips.vorwaerts-gmbh.de/VfE.ogv" type="video/ogg">
	<img src="" width="640" height="360" alt="Big Buck Bunny" title="No video playback capabilities, please download">
</video>

<br>
<h2>YouTube Embed</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qpbX7SbXOtU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
<h2>Vimeo Embed</h2>
<iframe src="https://player.vimeo.com/video/168212241" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>