{% set mods = '' %}
{% for mod in search_modifiers %}
  {% set mods = mods ~ " hoverexpandingsearch--" ~ mod %}
{% endfor %}
<form class='hoverexpandingsearch {{ mods }}'>
  <input type='search' class='hoverexpandingsearch__input' name='s' placeholder='Search' />
  <button type='submit' class='hoverexpandingsearch__button'>
    <i aria-hidden class='fal fa-search' title='show search'></i>
  </button>
</form>