<h2>Links:</h2>

{% include "10-molecules/10-buttons/10-button" with 
  {'button_href': '#', 
    'button_content': 'Read More' } %}

{% include "10-molecules/10-buttons/10-button" with 
  {'button_href': '#', 
    'button_content': 'Learn Something',
    'button_modifiers': ['red'] } %}

{% include "10-molecules/10-buttons/10-button" with 
  {'button_href': '#', 
    'button_content': 'Learn Something',
    'button_modifiers': ['transparent'] } %}

{% include "10-molecules/10-buttons/10-button" with 
  {'button_href': '#', 
    'button_content': 'Read More',
    'button_modifiers': ['transparent', 'red'] } %}

<h2>Form Button Elements:</h2>

<button>Click Me</button>
<input type='submit' value='Click Me' />
