{% extends "60-drupal-templates/page/page.twig" %}

{% block page_content %}
  <h1 class="page-header">{{ title }}</h1>

  {% include "60-drupal-templates/node/node.twig" with {
    content: content,
    promoted: promoted,
    sticky: sticky,
    view_mode: view_mode,
    node_type: node_type,
  } only %}
{% endblock %}