<div id="hamburger-icon1" class="hamburger-toggle">
  <span></span>
  <span></span>
  <span></span>
</div>


<style>
  #hamburger-test span {
    transform: rotate(3.14/4 rad);
  }
</style>

<div id="hamburger-test" class="hamburger-toggle">
  <span></span>
</div>


