<h3>Currently Available Icons</h3>
<p>See Pattern Info for details on how to add more icons.</p>


<i class="icon icon-sharethis"></i>
<i class="icon icon-facebook"></i>
<i class="icon icon-twitter"></i>
<i class="icon icon-youtube-play"></i>
<i class='icon icon-instagram'></i>
<i class='icon icon-linkedin'></i>
<i class='icon icon-rss'></i>
<i class='icon icon-globe'></i>
<i class='icon icon-down-open'></i>
<i class='icon icon-up-open'></i>
<i class='icon icon-right-open'></i>
<i class='icon icon-left-open'></i>
<i class='icon icon-star'></i>
<i class='icon icon-mail'></i>