@import "../../variables";

.pagination {
  position: relative;
  list-style: none;
  margin: 0;
  text-align: center;
}

.pagination__item {
  display: inline-block;
  font-weight: bold;
  border-radius: 50%;

  a.pagination__item__number {
    display: block;
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
    @include rem('width', 30px);
    @include rem('height', 30px);
  }

}

.pagination__item--active {
  background-color: $color--secondary;
}