@import "../variables";
@import "../mixins";

.simplesearch {
  height: 42px;
  display: flex;
  position: relative;
}

.simplesearch__searchtext {
  height: 100%;
  border: 0;
  background-color: $color-light-gray;
  padding: 0 25px;
}

.simplesearch__submit {
  height: 100%;
  cursor: pointer;
}

.simplesearch--inline {
  width: 230px;

  .simplesearch__searchtext {
    width: 100%;
  }

  .simplesearch__submit {
    background: none;
    position: absolute;
    color: black;
    right: 10px;
    padding: 0;
  }
}