<li class="blocks-gallery-item">
  <figure>
    <img src="{{ image.image_src }}" alt="{{ image.image_alt }}" class="wp-image-8"/>
    <figcaption>{{ image.image_caption}}</figcaption>
  </figure>
</li>