// Colors
// Be sure to copy any color changes to the color examples template at _patterns/00-atoms/00-global/01-color-examples.twig

$color-primary: purple;
// $color-primary: #ff0000;
$color-secondary: #00ff00;
$color-tertiary: #0000ff;

$color-red: #ef2222;
$color-yellow: #ffff00;
$color-teal: #00ffff;
$color-pink: #ff00ff;
$color-white: #ffffff;
$color-gray: #808080;
$color-light-gray: #ededed;
$color-black: #000000;


// Fonts
$font-montserrat: 'Montserrat', sans-serif;

// Default site font:
body {
  font-family: $font-montserrat;
}