@import "../../../variables";


.card1 {
  @include rem('margin-bottom', 35px);
  
  @include media-up(md) {
    margin-bottom: 0;
  }
}

.card1--media-circles {
  .card1__media img {
    border-radius: 50%;
  }
}

// When rounded the card should have a background color set.
.card1--rounded {
  border-radius: 15px;
  background-color: lightgray;
  overflow: hidden;

  .card1__content__wrapper {
    @include rem('padding', 15px);
  }
}

.card1__subtitle, .card1__subtitle a {
  @include rem('font-size', 24px);
  @include rem('letter-spacing', 0.5px);
  @include rem('margin-top', 12px);
  @include rem('margin-bottom', 5px);

  color: black;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

.card1__labels__label {
  @include rem('font-size', 12px);

  &, a {
    color: black;
    text-transform: lowercase;
  }

  a:hover {
    text-decoration: none;
  }

  // Separate labels/tags with a comma
  &:after {
    content: ", ";
  }

  &:last-child:after {
    content: "";
  }
}

.card1--align-center {
  text-align: center;
}

.card1--align-right {
  text-align: right;
}

.card1__media img {
  width: 100%;
  display: block;
  height: auto;
  //max-width: 100%;
}