@import "../../variables";

.card--highlight {
    @include rem('height', 300px);

    @include breakpoint($breakpoint-lg) {
        @include rem('max-width', 350px);
    }
}

.card--highlight .card__content-wrapper {
    @include rem('padding', 0 10px);
    @include rem('height', 60px);
    @include rem('line-height', 60px);

    background-color: rgba(32, 32, 32, 0.8);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;


    @include breakpoint($breakpoint-lg) {
        
    }
}

.card--highlight .card__title {
    @include rem('font-size', 12px);
    text-transform: uppercase;
    color: white;
    margin: 0;
}