@import "../../variables";


// Not really sure where to put the breadcrumb styling, since the twig template is currently in the WP theme, rather than the pattern lab.

.breadcrumbs-ancestor {
  border-bottom: 1px solid #979797;
  min-height: 32px;
  position: relative;
}

#breadcrumbs {
  @include rem('font-size', 12px);
  @include rem('line-height', 1.5);
  @include rem('padding-bottom', 5px);
  @include rem('padding-left', 15px);
  @include rem('padding-right', 15px);
  @include rem('padding-top', 5px);
  position: relative;

  @media (min-width: $breakpoint-sm) {
    // 60px logo margin + 70px logo width - 15px padding
    @include rem('left', 115px);
    width: calc(100% - 115px);
  }

  @media (min-width: $breakpoint-md) {
    // 80px logo margin + 70px logo width - 15px padding
    @include rem('left', 150px);
    width: calc(100% - 150px);
  }
}