@import "../variables";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  @include rem('letter-spacing', 0.5px);
  @include rem('font-size', 16px);
  margin: 0;
  padding: 0;

  font-family: $font--primary;
  line-height: 1.5;
  color: $color--text-primary;
}

h1, h2, h3, h4, h6 {
  font-weight: bold;
}

h1 {
  @include rem('font-size', 25px);
  @include rem('letter-spacing', 0.7px);


  @include media-up(md) {
    @include rem('font-size', 30px);
  }

  @include media-up(lg) {
    @include rem('font-size', 40px);
  }
}

h2 {
  @include rem('font-size', 28px);
  @include rem('letter-spacing', 0.6px);
  @include rem('margin-top', 10px);
}

h3 {
  @include rem('font-size', 24px);
  @include rem('letter-spacing', 0);
}

h4 {
  @include rem('font-size', 20px);
}

h5 {
  @include rem('font-size', 18px);
  @include rem('letter-spacing', 0.6px);
}

h6 {
  @include rem('font-size', 16px);
  color: white;
  line-height: 1.25;
}

a, a:hover {
  text-decoration: none;
  color: $color--text-primary;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  @include rem('font-size', 18px);
  @include rem('letter-spacing', 0.5px);
  text-align: center;
  line-height: 1.61;

  @include rem('margin', 56px 0);

  p {
    @include rem('margin-bottom', -1px);
  }

  cite {
    @include rem('font-size', 12px);
    @include rem('letter-spacing', 0.2px);
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #000000;
    font-style: normal;

    &:before {
      content: "-";
    }
  }
}