@import "../variables";

.font-secondary {
  font-family: $font--secondary;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.container-fluid {
  @include rem('max-width', 1130px);
}