@import "../../variables";

$offcanvas-width: 300px;

body {
  position: relative;
  transition: left ease 500ms, right ease 500ms !important;
  left: 0;
  right: 0;
}

body.offcanvas-open {
  left: $offcanvas-width;
  right: -$offcanvas-width;
}

.offcanvas {
  position: fixed;
  left: -$offcanvas-width;
  top: 0;
  z-index: 1978;
  background: lightgray;
  height: 100%;
  width: $offcanvas-width;
  max-width: 75%;
  transition: left ease 500ms;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.open {
    left: 0;
  }
}

.offcanvas__footer {
  margin: auto auto 0 auto;
  height: 200px;
  width: 100%;
  background: red;
}


//
//.offcanvas--container {
//  display: none;
//  flex-direction: column;
//
//  &.offcanvas--visible {
//    display: flex;
//  }
//
//  .offcanvas--header {
//    position: relative;
//  }
//
//  .offcanvas--toggle {
//    font-size: inherit;
//    margin: 0;
//    position: absolute;
//  }
//
//  .navbar-nav {
//    $toggle-width: .5em;
//    $toggle-color: rgba($color--slate-grey, .8);
//
//    float: left;
//    @include rem('margin', 0 0 10px);
//    width: 100%;
//
//    .menu-item {
//      position: relative;
//
//      &:hover {
//        background-color: rgba($color--secondary, .8);
//      }
//
//      .dropdown-menu {
//        @include rem('font-size', 12px);
//
//        li:hover {
//          background-color: rgba($color--secondary, .8);
//        }
//      }
//
//      .dropdown-toggle {
//        align-items: center;
//        display: flex;
//        @include rem('height', 34px);
//        justify-content: center;
//        position: absolute;
//        right: 0;
//        top: 0;
//        @include rem('width', 30px);
//        // @include rem('padding', 5px);
//        // text-align: center;
//
//        &:hover {
//          // border: 5px solid rgba($color--secondary, 1);
//          background-color: rgba($color--secondary, .3);
//        }
//      }
//
//      &.open {
//        .dropdown-menu {
//          display: block;
//        }
//
//        .dropdown-toggle::after {
//          // content: '\f077';
//
//          // temporary border toggles
//          border-bottom: $toggle-width solid $toggle-color;
//          border-top: 0;
//        }
//
//      }
//
//      // width: 100%;
//
//      a {
//        display: inline-block;
//        @include rem('padding', 5px);
//        width: 100%;
//
//        &:hover {
//          // background-color: rgba($color--secondary, .8);
//          color: white;
//          text-decoration: none;
//        }
//      }
//    }
//  }
//
//  .offcanvas-header {
//    text-align: right;
//  }
//
//  .navbar-toggle {
//    border: none;
//    background-color: transparent;
//    color: $color--secondary;
//    display: inline-block;
//    @include rem('padding', 8px 10px 5px);
//
//    &:hover {
//      border: none;
//      background-color: transparent;
//      color: rgba($color--secondary, .6);
//    }
//  }
//}
//
//
//.offcanvas--demo {
//  .offcanvas--toggle {
//    background-color: white;
//    @include rem('border-radius', 4px);
//    color: black;
//    @include rem('padding', 6px 10px);
//    @include rem('right', 10px);
//    @include rem('top', 10px);
//    z-index: 10;
//
//    .icon {
//      @include rem('font-size', 20px);
//    }
//
//    &:hover {
//      background-color: rgba(black, .05);
//      border: 2px solid rgba(black, .8);
//      color: rgba(black, .8);
//    }
//  }
//}