@import "../../variables";

$offcanvas-width: 300px;
$offcanvas-right-margin: 10px;
$offcanvas-toggle-width: 40px;

body {
  position: relative;
  transition: left ease 500ms, right ease 500ms !important;
  left: 0;
  right: 0;
}

body.offcanvas-open {
  left: $offcanvas-width;
  right: -$offcanvas-width;
}

.offcanvas {
  position: fixed;
  left: -$offcanvas-width;
  top: 0;
  z-index: 1978;
  background-color: white;
  height: 100%;
  width: $offcanvas-width;
  max-width: 75%;
  transition: left ease 500ms;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.open {
    left: 0;
  }

  .dropdown-toggle {
    @include rem('width', $offcanvas-toggle-width);
  }
}

.offcanvas__header {
  @include rem('min-height', 50px);
  position: relative;
}

.offcanvas__close {
  background-color: transparent;
  border: none;
  @include rem('border-radius', 4px);
  @include rem('height', 34px);
  @include rem('right', $offcanvas-right-margin);
  @include rem('top', 10px);

  &:active,
  &:focus {
    outline: none;
  }

  
  align-items: center;
  @include flexbox;
  font-size: inherit;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;  

  .icon {
    @include rem('font-size', 20px);
  }

  .close-button {
    @include rem('height', 34px);
    width: 100%;

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.offcanvas__content {
  .navmenu--offcanvas {
    
  }
}

.offcanvas__footer {
  margin: auto auto 0 auto;
  height: 200px;
  width: 100%;
}