<section class="container-fluid">
  <div class="row">
    <div class="col-md-9">

    </div>
    <div class="col-md-3">
      <h2>Community Highlight</h2>

      {% include "20-molecules/50-cards/10-card1/00-card1.twig" with {
        card_modifiers: ['rounded'],
        card_heading_level: 4,
        card_subtitle: "People Getting a Hand Up!",
        card_content: "An uplifting news story of people and stuff, and junk!",
        card_media: "<img src='https://placekitten.com/400'>",
        card_labels: card.labels,

        card_href: "/",
        button_content: "Read More"|trans,
      } %}
    </div>
  </div>
</section>