<section class="container-fluid card2--three-across--complex">
  <div class="row">
    <div class="col-sm-12 card2--three-across__title">
      <h2>Related Content</h2>
    </div>
  </div>
  <div class="row">
    {% for card in cards_threeacross_complex %}
      <div class="col-md-4 col-sm-12 card2__container">
        {% include "20-molecules/50-cards/20-card2/00-card2.twig" with {
          card_heading_level: 2,
          card_subtitle: card.subtitle,
          card_media: card.image,
          card_categories: card.categories,
          card_date: card.date,
          card_href: card.link,
        } %}
      </div>
    {% endfor %}
  </div>
</section>