<section class="container-fluid" style="max-width: 1100px">
  <div class="row">
    <div class="col-sm-12">
      <h2>Featured Content!</h2>
    </div>
  </div>
  <div class="row">
    {% for card in cards_threeacross %}
      <div class="col-lg-3 col-md-6 col-sm-12">
        {% include "10-molecules/50-cards/40-card4/00-card4.twig" with {
          card_subtitle: card.subtitle,
          card_content: card.content,
          card_labels: card.labels,

          card_href: card.link,
          button_content: "Read More <i class='far fa-arrow-right'></i>"|trans,
          card_icon: card.icon,
          card_stack_icon: "fas fa-circle",
          card_icon_title: card.icon_title
        } %}
      </div>
    {% endfor %}
  </div>
</section>