<section class="" style="width: 100%">
  {% for card in cards_alternating %}
      {% include "20-molecules/50-cards/50-card5/00-card5.twig" with {
        card_heading_level: 2,
        card_subtitle: card.subtitle,
        card_content: card.content,
        card_media: card.image,
        card_labels: card.labels,

        card_href: card.link,
        button_content: "Read More <i class='far fa-arrow-right'></i>"|trans,
      } %}
  {% endfor %}
</section>