<section class="container-fluid">
    {% for card in cards_twocards %}
        {% include "20-molecules/50-cards/60-card6/00-card6.twig" with {
          card_modifiers: ['media-circles'],
          card_heading_level: 2,
          card_subtitle: card.subtitle,
          card_content: card.content,
          card_media: card.image,
          card_labels: card.labels,

          card_href: card.link,
          button_content: "Read More <i class='far fa-arrow-right'></i>"|trans,
        } %}
    {% endfor %}
</section>