@import "../../../variables";

$button-font: $font--proxima-nova;

.button,
button,
input[type=submit],
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit] {
  @include button($color--primary, gray);
  @include border-radius(0);

  @include rem('font-size', 14px);
  font-weight: bold;
  @include rem('margin', 20px 5px);
  @include rem('padding', 8px 54px 5px);

  //&:focus,
  //&:hover {
  //  background: transparent;
  //  color: $color--primary;
  //  text-decoration: none;
	//	@include transition(all 250ms ease);
  //}
}

.button--red {
  @include button(red, black);
}

/*Shortcode buttons*/
.inline-btn {
  @include button($color--primary, white);
  @include border-radius(0);

  @include rem('font-size', 14px);
  font-weight: bold;
  @include rem('margin', 20px 5px);
  @include rem('padding', 8px 54px 5px);

  &:focus,
  &:hover {
    background: transparent;
    color: $color--primary;
    text-decoration: none;
    @include transition(all 250ms ease);
  }
}


//.button--primary {
//	@include button($color--primary);
//}
//
//.button--secondary {
//	@include button($color--secondary);
//}
//
//.button--outline,
//.button-transparent {
//	@include btn-outline($color--primary);
//}
//

//
//
//.button--black {
//	@include button(white, black);
//}
//
//.button--burgandy {
//	@include button($color--secondary, white, false);
//}
//
//.button--teal {
//	@include button($color--secondary, white);
//}