

.button {
  @include rem('font-size', 14px);
  @include rem('padding', 8px 54px 5px);
  
  border: 1px solid black;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 0;
  display: inline-block;

  text-transform: uppercase;

  &:focus,
  &:hover {
    background: white;
    border-color: black;
    color: black;
    @include transition(all 250ms ease);
  }
}

.button--white {
  background: white;
  color: red;
  border-color: white;

  &:hover {
    background: transparent;
    color: white;
    border-color: white;
  }  
}

.button--impact {
  background: red;
  color: white;
  border-color: red;

  &:hover {
    background: white;
    color: red;
    border-color: red;
  }  
}

.button--small {
    @include rem('font-size', 12px);
    @include rem('padding', 4px 8px);
}