<div id="homepage--hero">
    {% include "30-organisms/20-hero/05-homepagehero.twig" with {
      herocontent: {
        title: herocontent__title,
        subtitle: herocontent__subtitle,
        image: herocontent__image,
        link: herocontent__readmore_link
      }
    } only %}
</div>
TESTESE
<div id="homepage--stories-projects">
  {% include "30-organisms/35-slider/10-cardslider/10-cardslider.twig" with {
      'cardslider__items': storyslider__items,
      'cardslider__title': storyslider__title,
      'cardslider__description': storyslider__description,
      'cardslider__readmore_link': storyslider__readmore_link
  } only %}
</div>

<div id="values-row">
    {% include "30-organisms/80-homepage-widgets/10-values-vision/10-values-vision.twig" with {
      valuesvision__title: valuesvision__title,
      valuesvision__description: valuesvision__description,
      valuesvision__image: valuesvision__image
    } only %}

    {% include "20-molecules/45-highlights/10-highlight1/10-highlight1.twig" with {
      highlight__title: highlight__title,
      highlight__content: highlight__content,
      highlight__href: highlight__link,
      button__content: "Learn More"|trans,
      button__modifiers: ['red']
    } only %}
</div>

<div id="homepage--partnerships" class="container-fluid">
    {% include "30-organisms/80-homepage-widgets/15-strategic-partnerships/10-strategic-partnerships.twig" with {
      partners: partners
    } only %}
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      {% include "20-molecules/45-highlights/10-highlight1/10-highlight1.twig" with {
        highlight__modifiers: ['alt'],
        highlight__title: affordableaccessible__title,
        highlight__content: affordableaccessible__content,
        highlight__href: affordableaccessible__link,
        button__content: "Learn More"|trans,
        button__modifiers: ['red']
      } only %}

    </div>
    <div class="col-md-5 col-sm-12">
      {% include "30-organisms/80-homepage-widgets/20-find-a-doctor/10-find-a-doctor.twig" with {
        finddoctor__title: finddoctor__title,
        finddoctor__content: finddoctor__content,
        finddoctor__link: finddoctor__link
      } only %}
    </div>
  </div>
</div>
