<div id="find-nd-cta" class="inm-cta inm-cta--find-nd">
  <a class="inm-cta__link" href="/find-an-nd">
    <div class="inm-cta__inner">
      <div class="inm-cta__icon">
        <i class="icon icon-marker"></i>
      </div>
      <h4 class="inm-cta__title">{{ "Find a Licensed ND Near You"|trans }}</h4>
    </div>
  </a>
</div>

<div id="faqs-cta" class="inm-cta inm-cta--faqs">
  <a class="inm-cta__link" href="/faqs/">
    <div class="inm-cta__inner">
      <div class="inm-cta__icon">
        <img src="http://placekitten.com/30" />
      </div>
      <h4 class="inm-cta__title">{{ "Naturopathic Medicine FAQs"|trans }}</h4>
    </div>
  </a>
</div>