<div>
  {% embed "20-molecules/20-navigation/20-nav-menu/00-nav-menu.twig" with {
    menu_items: "test"
  } only %}

    {% block menu_extra_content %}
      <li>some extra content</li>
    {% endblock %}

  {% endembed %}
  end
</div>