<nav class='navbar navbar--fullwidth-dropdowns'>
  <div class='container-fluid' style='width: 100%'>
    <div class='row'>
      <div class='col-md-4 col-xs-12'>SOME SITE LOGO!</div>
      <div class='col-md-8 hidden-sm hidden-xs'>
        {% embed "20-molecules/10-buttons/10-button" with
        {'button_href': '#', 
          'button_content': 'Sign Up',
          'button_modifiers': ['black'] } %}
        {% endembed %}
        {% embed "20-molecules/10-buttons/10-button" with
        {'button_href': '#', 
          'button_content': 'Donate',
          'button_modifiers': ['black'] } %}
        {% endembed %}
        </div>
      </div>
    </div>
</nav>