<style>

.herocontentA {
  background-image: url('{{ headerImages.small }}');
}

@media (min-width: 768px) and (max-width: 981px) {
  .herocontentA {
    background-image: url('{{ headerImages.medium }}');
  }
}

@media (min-width: 982px) {
  .herocontentA {
    background-image: url('{{ headerImages.large }}');
  }
}
</style>

<header class='herocontentA'>
  <h1 class='herocontentA__title'>{{ faker('words', 4)|join(' ') }}</h1>
</header>