<aside id="find-a-doctor" class="finddoctor">
  <div class="finddoctor__inner">
    <h2 class="finddoctor__inner__title">
      {{ finddoctor__title }}
    </h2>
    <p class="finddoctor__inner__content">
      {{ finddoctor__content }}
    </p>
    {% include "10-molecules/10-buttons/10-button.twig" with {
      button_content: "Find a Doctor"|trans,
      button_href: finddoctor__link
    } only %}
  </div>
</aside>