<fieldset>
  {% for item in formelements.text %}
    <div>
      <label for='{{item}}-name'>Item Label</label>
      <input type='{{item}}' name='{{item}}-name' />
    </div>
  {% endfor %}

  <div>
    <label  for='textarea1'>
    <textarea name='textarea1'>{{ faker('text', 1000) }}</textarea
  </div>
</fieldset>