{# 

By default, this outputs a horizontal menu.
If extra things need to be in this menu, a search bar for example, use:
{% embed ... %}
  {% block menu_extra_content %}
    EXTRA CONTENT HERE!
  {% endblock %}
{% endembed %}

instead of using {% include ... %}

Required Data:
  menu_items - array of item objects
    item.link - the menu item link
    item.title - the menu item text

Options:
  menu_modifiers: array of strings with additional classes to append.
                  current options: vertical

#}
<nav {{ bem('navmenu', menu_modifiers) }} role='navigation'>
  {% if menu_items %}
    {% include "10-atoms/02-lists/10-nav-list.twig" with {
      menu_items: menu_items
    } only %}
  {% endif %}
  {% block menu_extra_content %}{% endblock %}
</nav>