.navmenu--expanding.navmenu {
  $text-indent: 10px;
  ul {
    @include flex(1 0 100%);
    flex-direction: row;
    flex-wrap: wrap;

    > ul {

      li {
        @debug $text-indent;
        $text-indent: $text-indent + 5px;
        @include rem('padding-left', $text-indent);
        @include rem('margin-left', -1 * $text-indent);
      }
    }
  }

  > ul {
    li {
      @include rem('padding-left', $text-indent);
    }
  }

  li {
    @include flex(1 0 100%);
    @include flexbox;
    flex-wrap: wrap;

    a {
      display: block;
      @include flex(1 0 auto);
    }
  }

  .navmenu__menu-item--has-dropdown {
    $dropdown-line-height: 20px;
    @include rem('line-height', $dropdown-line-height);
    // position: relative;
    &:hover {
      > .navmenu__list {
        display: none;
      }
    }

    &.open {
      > ul.navmenu__list {
        @include flexbox;
        // position: static;
      }
    }

    .dropdown-toggle {
      align-items: center;
      @include flexbox;
      @include flex(0 0 auto);
      // float: right;
      @include rem('height', $dropdown-line-height);
      justify-content: center;
      margin: 0;
    }
  }
}

