.navmenu--expanding.navmenu {
  > ul {
    @include flexbox;
  }

  .navmenu__menu-item--has-dropdown {
    &:hover {
      > .navmenu__list {
        display: none;
      }
    }

    &.open {
      > .navmenu__list {
        @include flexbox;
        position: static;
      }
    }

    .dropdown-toggle {
      display: inline-block;
    }
  }
}

