.navmenu--expanding.navmenu {
  $horizontal-padding: 10px;
  $vertical-padding: 5px;
  ul.navmenu__list {
    flex: 1 0 100%;
    flex-direction: column;
  }

  li {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    padding: 0;

    a {
      @include rem('padding', $vertical-padding $horizontal-padding);
    }
    
  }

  .navmenu__menu-item--has-dropdown {
    // position: relative;
    &:hover {
      > .navmenu__list {
        display: none;
      }
    }

    &.open,
    &.open:hover {
      padding-bottom: 0;
      
      > ul.navmenu__list {
        display: flex;
      }
    }

    .dropdown-toggle {
      @include rem('margin-right', -$horizontal-padding);
      @include rem('max-height', $navmenu-line-height);
      @include rem('padding-left', 2 * $horizontal-padding);
      @include rem('padding-right', 2 * $horizontal-padding);
    }

    .navmenu__list {
      display: none;
      transition: display 2s ease-in-out 1s;

      &[class*="--depth-"]:not([class$="1"]) {
        @include rem('margin-left', -5px);
        @include rem('margin-right', -5px);
      }

      @for $i from 1 through 5 {
        &.navmenu__list--depth-#{$i} { 
          > li {
            > a {
              @include rem('padding-left', ($i + 1) * $horizontal-padding);
              @include rem('padding-right', ($i + 1) * $horizontal-padding);
            }
          } 
        }
      }

      &.navmenu__list--depth-1 {
        @include rem('margin-left', -10px);
        @include rem('margin-right', -10px);

        > li {

          .dropdown-toggle {
            @include rem('margin-right', -5px);
            // @include rem('padding-right', $horizontal-padding + 5px);
          }
        }
      }

      li {
        text-align: left;
      }
    }
  }

  &:not(.navmenu--click-to-toggle) {
    > ul {

      > li {
        display: flex;
      }   
    }
  
    .navmenu__menu-item--has-dropdown {
      // position: relative;
  
      &:hover {
        > a {
          @include rem('margin-bottom', 0);
        }

        > .navmenu__list {
          display: flex;
        }
      }
    }
  }
}

