@import "../../../variables";


.navmenu {
  ul {
    padding: 0;
    @include flexbox;
    flex-direction: column;
    list-style-type: none;

    li {
      @include flex(1 0 100%);
    }
  }

  > ul {
    display: block;
    width: 100%;

    > li {
      display: inline-block;
    }   
  }

  .navmenu__menu-item--has-dropdown {
    position: relative;

    .dropdown-toggle {
      display: none;
      font-size: inherit;
    }

    .navmenu__list {
      display: none;
      transition: display .5s ease 5s;
    }

    &:hover {
      > .navmenu__list {
        @include flexbox;
        position: absolute;
        transition: display .5s ease 5s;
      }
    }
  }
}