<div class='fa-sandbox'>
  <i class='fab fa-twitter'></i>
  <i class='fab fa-twitter-square'></i>
  <i class='fab fa-instagram'></i>
  <i class='fab fa-facebook'></i>
  <i class='fab fa-facebook-f'></i>
  <i class='fab fa-facebook-square'></i>
  <i class='fab fa-github'></i>
  <i class='fab fa-github-alt'></i>
  <i class='fab fa-github-square'></i>

  <i class='fab fa-pinterest'></i>
  <i class='fab fa-pinterest-p'></i>
  <i class='fab fa-pinterest-square'></i>
</div>