@mixin column($width) {
  flex: 0 0 percentage($width / 12);
  max-width: percentage($width / 12);


  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

@mixin column-offset($width) {
  margin-left: if($width/12 == 0, 0, percentage($width/12));
}