@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}

// We should be using the gulp autoprefixer rather than these mixins:

// @mixin border-radius($radius) {
//   -webkit-border-radius: $radius;
//   -moz-border-radius: $radius;
//   -ms-border-radius: $radius;
//   border-radius: $radius;
// }

// @mixin shadow($shadow) {
//   -webkit-box-shadow: $shadow;
//   -moz-box-shadow: $shadow;
//   box-shadow: $shadow;
// }

// @mixin transition($transition...) {
//   -webkit-transition: ($transition);
//   -moz-transition: ($transition);
//   -o-transition: ($transition);
//   transition: ($transition);
// }

// @mixin rotate($degrees) {
//   -webkit-transform: rotate($degrees);
//   -moz-transform: rotate($degrees);
//   -ms-transform: rotate($degrees);
//   -o-transform: rotate($degrees);
// }
