  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script src="../../js/jquery-1.11.2.min.js"></script>
  <script src="../../js/libs/superfish.min.js"></script>
  <script src="../../js/libs/lazysizes.min.js"></script>

  <script src="../../js/site.js?{{ cacheBuster }}"></script>
  </body>
</html>
