<div class='fa-sandbox'>
  {% for key in icons %}
    <p>
      <span class="fal fa-{{key}}"></span>
      <span class="far fa-{{key}}"></span>
      <span class="fas fa-{{key}}"></span>
    </p>
  {% endfor %}
</div>