<div class='fa-sandbox'>
  <h3>Any icons can be stacked, these are just examples of the effect</h3>

  <span class="fa-stack fa-1x">
    <i class='fas fa-square fa-stack-2x'></i>
    <i class='fab fa-twitter fa-stack-1x fa-inverse'></i>
  </span>

  <span class="fa-stack fa-1x">
    <i class='fas fa-circle fa-stack-2x'></i>
    <i class='fas fa-share-alt fa-stack-1x fa-inverse'></i>
  </span>

  <span class="fa-stack fa-1x">
    <i class='fab fa-facebook-f fa-stack-1x'></i>
    <i class='fas fa-ban fa-stack-2x' style="color: red"></i>
  </span>

   <span class="fa-layers fa-fw fa-2x">
    <i class="fas fa-envelope"></i>
    <span class="fa-layers-counter" style="background:Tomato">1,419</span>
  </span>
</div>