@import "../../../variables";


.cardslider__title, .cardslider__description, .cardslider__read_more {
  text-align: center;
}

.cardslider {
  @include rem('padding-top', 20px);


  @include media-up(md) {
    @include rem('padding-top', 30px);
  }

  @include media-up(lg) {
    @include rem('padding-top', 62px);
  }

  .slick-arrow {
    @include rem('font-size', 35px);
    position: absolute;
    @include rem('top', 75px);
    z-index: 10;

    @include media-up(md){
      @include rem('font-size', 40px);
    }

    @include media-up(lg) {
      @include rem('font-size', 45px);
    }
  }

  .slick-next {
    @include rem('right', -20px);

    @include media-up(md){
      @include rem('right', -40px);
    }

    @include media-up(lg) {
      @include rem('right', -52px);
    }
  }

  .slick-prev {
    @include rem('left', -20px);

    @include media-up(md){
      @include rem('left', -40px);
    }

    @include media-up(lg) {
      @include rem('left', -52px);
    }
  }
}

.cardslider__title {
  text-transform: uppercase;
}

.cardslider__description {
  @include rem('max-width', 770px);
  @include rem('margin', 12px auto 55px auto);
}

.cardslider__cards {
  max-width: 75%;

  margin-left: auto;
  margin-right: auto;
  @include rem('margin-bottom', 49px);

  @media (min-width: 1300px) {
    @include rem('max-width', 1164px);
  }
}

.card1--slider-item {
  @include rem('padding', 0 16.5px);
}