{% extends "lab-base.twig" %}

{% block page_title %}{% endblock %}

{% block pre_content %}
  <h1 class="landingpage__title">{{ landingpage__title }}</h1>

  <div class="landingpage__localmenu">
    {% include "20-molecules/20-navigation/40-inline-menu/10-local-menu.twig" with {
      menu_items: local_menu
    } only %}
  </div>
  
  {% include "30-organisms/20-hero/06-herocontentC.twig" with {
    heroImages: landing_heroImages,
    herocontent_title: landing_hero__title,
    herocontent_text: landing_hero__description
  } only %}
{% endblock %}

{% block content %}
  {% include "40-templates/10-landing-page/10-landing-page.twig" with {
    page_content: page_content,
    landing_page__highlights: landing_page__highlights
  } only %}
{% endblock %}

{% block post_content %}

  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-8 col-md-6 col-sm-4 col--12">
        Some content
      </div>

      <div class="col-xl-1 offset-xl-1 offset-lg-0 col-lg-4 col-md-6 col-sm-8 col--12">
        Other Content
      </div>
    </div>
  </div>

  {% include "30-organisms/50-social/50-full-width-feeds/10-full-width-feeds.twig" %}
{% endblock %}