<h2>Links:</h2>

<a class='button button--red' href='#'>Read More</a>

<a class='button button--red button--transparent' href='#'>Read More</a>

<h2>Form Button Elements:</h2>

<button>Click Me</button>
<input type='submit' value='Click Me' />
