{# 

Required Data:

Options:
  
  search_modifiers - array of strings with additional classes to append to hoverexpandingsearch--

#}  

{% set mods = '' %}
{% for mod in search_modifiers %}
  {% set mods = mods ~ " hoverexpandingsearch--" ~ mod %}
{% endfor %}
<form class='hoverexpandingsearch {{ mods }}'>
  <input type='search' class='hoverexpandingsearch__input' name='s' placeholder='{{ "Search"|trans }}'>
  <button type='submit' class='hoverexpandingsearch__button'>
    <i class='icon icon-search' aria-label="{{ "Search"|trans }}"></i>
  </button>
</form>