<input type="submit" value="Submit" class="example-form__button">

<input type="image" value="Submit" src="https://placekitten.com/100" class="example-form__button example-form__button--image">

<button type="submit" form="example-form"  class="example-form--button" value="Submit">Button</button>

