<fieldset>
  <legend>Text</legend>
<label>Hello</label>
<label>World</label>
<label>How</label>
<label>Now</label>
<label>Brown</label>
<label>Cow</label>

  <div class='input input--textbox'>
    <label for='textbox1'>Textbox -- Label before input</label>
    <input type='text' name='textbox1' id='textbox1' />
  </div>

  <div class='input input--textbox'>
    <input type='text' name='textbox1' id='textbox2' />
    <label for='textbox2'>Textbox -- Label after input</label>
  </div>

  <div class='input input--textarea'>
    <label for='textarea1'>Textarea -- Label before input</label>
    <textarea name='textarea1' id='textarea1'></textarea>
  </div>

  <div class='input input--textarea'>
    <textarea name='textarea2' id='textarea2'></textarea>
    <label for='textarea2'>Textarea -- Label after input</label>
  </div>

  <div class='input input--email'>
    <label for="email1">Email -- Label before input</label>
    <input type="email" id="email1">
  </div>

  <div class='input input--email'>
    <input type="email" id="email2">
    <label for="email2">Email -- Label after input</label>
  </div>


  <div class='input input--password'>
    <label for="password">Password</label>
    <input type="password" id="password">
  </div>
</fieldset>
